<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web05_LeeChiJong</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>ServletFilter</filter-name>
    <filter-class>servlet.filter.ServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginFormServlet</display-name>
    <servlet-name>LoginFormServlet</servlet-name>
    <servlet-class>servlet.controller.LoginFormServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFormServlet</servlet-name>
    <url-pattern>/LF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterBookServlet</display-name>
    <servlet-name>RegisterBookServlet</servlet-name>
    <servlet-class>servlet.controller.RegisterBookServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterBookServlet</servlet-name>
    <url-pattern>/RGB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.controller.Logout</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/LGOUT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPage</display-name>
    <servlet-name>MyPage</servlet-name>
    <servlet-class>servlet.controller.MyPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPage</servlet-name>
    <url-pattern>/MyPage</url-pattern>
  </servlet-mapping>
</web-app>